* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #C1BDB3;
    color: #323031;
    padding: 25px 60px;
    margin-bottom: 30px;
}


